@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Coiny", serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: #ADD8E6; /* Azul claro */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo {
  width: 80%;
  max-width: 800px;
  background-color: #fff; /* Blanco */
  margin: 20px auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.todo h2 {
  color: #333;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo h2 img {
  width: 30px;
  margin-left: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7; /* Gris claro */
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 10px;
  font-weight: 14px;
}

button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background-color: #4CAF50; /* Verde */
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: '';
  position: absolute;
  height: 29px;
  width: 28px;
  border-radius: 50%;
  background-image: url(imagenes/sinchequear.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li.chequeado {
  color: #555;
  text-decoration: line-through;
}

ul li.chequeado::before {
  background-image: url(imagenes/chequeado.png);
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #333;
  line-height: 40px;
  text-align: center;
}

ul li span:hover {
  background-color: #f7f7f7;
}